In [1]:
import pandas as pd

In [119]:
df = pd.read_excel('NBA2021-2022.xlsx')
df.head()

         DATA        VISITANTE             CASA              RESULTADO
0  19-10-2021     Brooklyn BKN    Milwaukee MIL       MIL 127, BKN 104
1  19-10-2021  Golden State GS  Los Angeles LAL        GS 121, LAL 114
2  20-10-2021      Indiana IND    Charlotte CHA       CHA 123, IND 122
3  20-10-2021      Chicago CHI      Detroit DET         CHI 94, DET 88
4  20-10-2021       Boston BOS      New York NY  NY 138, BOS 134 (2TE)

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATA       620 non-null    object
 1   VISITANTE  618 non-null    object
 2   CASA       618 non-null    object
 3   RESULTADO  618 non-null    object
dtypes: object(4)
memory usage: 19.5+ KB

In [121]:
df['RESULTADO'] = df['RESULTADO'].str.replace('Adiado', '')

In [122]:
df.dropna(inplace = True)

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618 entries, 0 to 619
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATA       618 non-null    object
 1   VISITANTE  618 non-null    object
 2   CASA       618 non-null    object
 3   RESULTADO  618 non-null    object
dtypes: object(4)
memory usage: 24.1+ KB

In [124]:
df[df['RESULTADO'] == '']

           DATA        VISITANTE              CASA RESULTADO
415  14-12-2021      Detroit DET       Chicago CHI
430  16-12-2021      Chicago CHI       Toronto TOR
451  19-12-2021   New Orleans NO  Philadelphia PHI
452  19-12-2021    Cleveland CLE       Atlanta ATL
453  19-12-2021       Denver DEN      Brooklyn BKN
458  20-12-2021      Orlando ORL       Toronto TOR
464  21-12-2021   Washington WSH      Brooklyn BKN
472  22-12-2021      Toronto TOR       Chicago CHI
486  23-12-2021     Brooklyn BKN      Portland POR
522  29-12-2021        Miami MIA    San Antonio SA
529  30-12-2021  Golden State GS        Denver DEN

In [125]:
df.drop([415,430,451,452,453,458,464,472,486,522,529], inplace=True)

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 607 entries, 0 to 619
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATA       607 non-null    object
 1   VISITANTE  607 non-null    object
 2   CASA       607 non-null    object
 3   RESULTADO  607 non-null    object
dtypes: object(4)
memory usage: 23.7+ KB

In [127]:
visitante = list(df['VISITANTE'].copy())
visitante_ = []

In [128]:
for i in range(len(visitante)):
    time = visitante[i][-3:]
    visitante_.append(time)
print('fim')

fim

In [129]:
visitante_[0]

'BKN'

In [130]:
casa = list(df['CASA'].copy())
casa_ = []

In [131]:
 for i in range(len(casa)):
    time = casa[i][-3:]
    casa_.append(time)
print('fim')

fim

In [132]:
casa_[0]

'MIL'

In [133]:
df['RESULTADO'].head(293)

0            MIL 127, BKN 104
1             GS 121, LAL 114
2            CHA 123, IND 122
3              CHI 94, DET 88
4       NY 138, BOS 134 (2TE)
                ...
289            NO 98, UTAH 97
290           GS 118, POR 103
291    SAC 141, LAL 137 (3TE)
292    MIN 121, PHI 120 (2TE)
293             NY 99, ATL 90
Name: RESULTADO, Length: 293, dtype: object

In [134]:
c = df['RESULTADO'].apply(lambda x: x.replace('(2TE)', ''))
#df['RESULTADO'].apply(lambda x: x.replace('(3)', ''))

In [135]:
c.head(293)

0            MIL 127, BKN 104
1             GS 121, LAL 114
2            CHA 123, IND 122
3              CHI 94, DET 88
4            NY 138, BOS 134
                ...
289            NO 98, UTAH 97
290           GS 118, POR 103
291    SAC 141, LAL 137 (3TE)
292         MIN 121, PHI 120
293             NY 99, ATL 90
Name: RESULTADO, Length: 293, dtype: object

In [136]:
d = c.apply(lambda x: x.replace('(3TE)', ''))

In [144]:
e = d.apply(lambda x: x.replace('(TE)', ''))

In [145]:
e.head(293)

0       MIL 127, BKN 104
1        GS 121, LAL 114
2       CHA 123, IND 122
3         CHI 94, DET 88
4       NY 138, BOS 134
             ...
289       NO 98, UTAH 97
290      GS 118, POR 103
291    SAC 141, LAL 137
292    MIN 121, PHI 120
293        NY 99, ATL 90
Name: RESULTADO, Length: 293, dtype: object

In [171]:
resultado = list(e)
resultado_win = []
resultado_loser = []
ponto_win = []
ponto_loser = []

In [172]:
for i in range(len(resultado)):
    win_ponto = int(resultado[i].split(',')[0].strip()[-3:])
    loser_ponto = int(resultado[i].split(',')[1].strip()[-3:])
    
    win_resultado = resultado[i].split(',')[0].strip()[:3]
    loser_resultado = resultado[i].split(',')[1].strip()[:3]
    
    ponto_win.append(win_ponto)
    ponto_loser.append(loser_ponto)
    resultado_win.append(win_resultado)
    resultado_loser.append(loser_resultado)

In [173]:
ponto_win[0]

127

In [174]:
ponto_loser[0]

104

In [175]:
resultado_win[0]

'MIL'

In [176]:
resultado_loser[0]

'BKN'

In [177]:
data = list(df["DATA"]).copy()

In [193]:
#agora o resultado final da modelagem de dados

base_dados = pd.DataFrame()

base_dados['DATA'] = data
base_dados['VISITANTE'] = visitante_
base_dados['CASA'] = casa_
base_dados['VENCEDOR'] = resultado_win
base_dados['WIN_PONTOS'] = ponto_win
base_dados['LOSER_PONTOS'] = ponto_loser
base_dados['PERDEDOR'] = resultado_loser

In [194]:
base_dados

           DATA VISITANTE CASA VENCEDOR  WIN_PONTOS  LOSER_PONTOS PERDEDOR
0    19-10-2021       BKN  MIL      MIL         127           104      BKN
1    19-10-2021        GS  LAL      GS          121           114      LAL
2    20-10-2021       IND  CHA      CHA         123           122      IND
3    20-10-2021       CHI  DET      CHI          94            88      DET
4    20-10-2021       BOS   NY      NY          138           134      BOS
..          ...       ...  ...      ...         ...           ...      ...
602  12-01-2022       DAL   NY      NY          108            85      DAL
603  12-01-2022       HOU   SA      HOU         128           124      SA
604  12-01-2022       CLE  TAH      CLE         111            91      UTA
605  12-01-2022       BKN  CHI      BKN         138           112      CHI
606  12-01-2022       LAL  SAC      SAC         125           116      LAL

[607 rows x 7 columns]

In [195]:
base_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATA          607 non-null    object
 1   VISITANTE     607 non-null    object
 2   CASA          607 non-null    object
 3   VENCEDOR      607 non-null    object
 4   WIN_PONTOS    607 non-null    int64
 5   LOSER_PONTOS  607 non-null    int64
 6   PERDEDOR      607 non-null    object
dtypes: int64(2), object(5)
memory usage: 33.3+ KB

In [197]:
#base_dados.to_excel('NBA_Atual.xlsx', index=False)