In [1]:
import pandas as pd
import requests

In [8]:
url = 'https://www.espn.com.br/nba/calendario/_/data/20211020'

res = requests.get(url)

print(res)

<Response [200]>

#  Coletando os dados

In [24]:
#outubro 19 à 31
lista = [19,20,21,22,23,24,25,26,27,28,29,30,31]
lista

[19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [47]:
dadosoutubro = []
for i in lista:
    url = f'https://www.espn.com.br/nba/calendario/_/data/202110{i}'
    res = requests.get(url)
    df = pd.read_html(res.text)
    dados = df[0].copy()
    dados['date'] = f'{i}-10-2021'
    dadosoutubro.append(dados)

In [55]:
#novenbro 1 à 30
lista = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30']

In [61]:
dadosnovembro = []
for i in lista:
    url = f'https://www.espn.com.br/nba/calendario/_/data/202111{i}'
    res = requests.get(url)
    df = pd.read_html(res.text)
    dados = df[0].copy()
    dados['date'] = f'{i}-11-2021'
    dadosnovembro.append(dados)
print('fim')

fim

In [65]:
#dezembro 1 à 31
lista = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','25','26','27','28','29','30','31']

In [66]:
dadosdezembro = []
for i in lista:
    url = f'https://www.espn.com.br/nba/calendario/_/data/202112{i}'
    res = requests.get(url)
    df = pd.read_html(res.text)
    dados = df[0].copy()
    dados['date'] = f'{i}-12-2021'
    dadosdezembro.append(dados)
print('fim')

fim

In [68]:
# 2022
#Janeiro 1 à 31
lista = ['01','02','03','04','05','06','07','08','09','10','11','12']

In [70]:
dadosjaneiro = []
for i in lista:
    url = f'https://www.espn.com.br/nba/calendario/_/data/202201{i}'
    res = requests.get(url)
    df = pd.read_html(res.text)
    dados = df[0].copy()
    dados['date'] = f'{i}-01-2022'
    dadosjaneiro.append(dados)
print('fim')

fim

# Juntando os dados coletados

In [73]:
#juntado os dados mes a mes iniciaremos com outubro

In [79]:
dia19 = dadosoutubro[0]
dia20 = dadosoutubro[1]
dia21 = dadosoutubro[2]
dia22 = dadosoutubro[3]
dia23 = dadosoutubro[4]
dia24 = dadosoutubro[5]
dia25 = dadosoutubro[6]
dia26 = dadosoutubro[7]
dia27 = dadosoutubro[8]
dia28 = dadosoutubro[9]
dia29 = dadosoutubro[10]
dia30 = dadosoutubro[11]
dia31 = dadosoutubro[12]

In [92]:
baseoutubro = pd.concat([dia19,dia20,dia21,dia22,dia23,dia24,dia25,dia26,dia27,dia28,dia29,dia30,dia31])

In [94]:
#juntando os dados de novembro

In [95]:
dia1 = dadosnovembro[0]
dia2 = dadosnovembro[1]
dia3 = dadosnovembro[2]
dia4 = dadosnovembro[3]
dia5 = dadosnovembro[4]
dia6 = dadosnovembro[5]
dia7 = dadosnovembro[6]
dia8 = dadosnovembro[7]
dia9 = dadosnovembro[8]
dia10 = dadosnovembro[9]
dia11 = dadosnovembro[10]
dia12 = dadosnovembro[11]
dia13 = dadosnovembro[12]
dia14 = dadosnovembro[13]
dia15 = dadosnovembro[14]
dia16 = dadosnovembro[15]
dia17 = dadosnovembro[16]
dia18 = dadosnovembro[17]
dia19 = dadosnovembro[18]
dia20 = dadosnovembro[19]
dia21 = dadosnovembro[20]
dia22 = dadosnovembro[21]
dia23 = dadosnovembro[22]
dia24 = dadosnovembro[23]
dia25 = dadosnovembro[24]
dia26 = dadosnovembro[25]
dia27 = dadosnovembro[26]
dia28 = dadosnovembro[27]
dia29 = dadosnovembro[28]
dia30 = dadosnovembro[29]

In [96]:
basenovembro = pd.concat([dia1,dia2,dia3,dia4,dia5,dia6,dia7,dia8,dia9,dia10,
                         dia11,dia12,dia13,dia14,dia15,dia16,dia17,dia18,dia19,dia20,
                         dia21,dia22,dia23,dia24,dia25,dia26,dia27,dia28,dia29,dia30])

In [ ]:
#daos de dezembro

In [98]:
dia1 = dadosdezembro[0]
dia2 = dadosdezembro[1]
dia3 = dadosdezembro[2]
dia4 = dadosdezembro[3]
dia5 = dadosdezembro[4]
dia6 = dadosdezembro[5]
dia7 = dadosdezembro[6]
dia8 = dadosdezembro[7]
dia9 = dadosdezembro[8]
dia10 = dadosdezembro[9]
dia11 = dadosdezembro[10]
dia12 = dadosdezembro[11]
dia13 = dadosdezembro[12]
dia14 = dadosdezembro[13]
dia15 = dadosdezembro[14]
dia16 = dadosdezembro[15]
dia17 = dadosdezembro[16]
dia18 = dadosdezembro[17]
dia19 = dadosdezembro[18]
dia20 = dadosdezembro[19]
dia21 = dadosdezembro[20]
dia22 = dadosdezembro[21]
dia23 = dadosdezembro[22]
dia25 = dadosdezembro[23]
dia26 = dadosdezembro[24]
dia27 = dadosdezembro[25]
dia28 = dadosdezembro[26]
dia29 = dadosdezembro[27]
dia30 = dadosdezembro[28]
dia31 = dadosdezembro[29]

In [99]:
basedezembro = pd.concat([dia1,dia2,dia3,dia4,dia5,dia6,dia7,dia8,dia9,dia10,
                         dia11,dia12,dia13,dia14,dia15,dia16,dia17,dia18,dia19,dia20,
                         dia21,dia22,dia23,dia25,dia26,dia27,dia28,dia29,dia30,dia31])

In [104]:
#janeiro de 2022

In [105]:
dia1 = dadosjaneiro[0]
dia2 = dadosjaneiro[1]
dia3 = dadosjaneiro[2]
dia4 = dadosjaneiro[3]
dia5 = dadosjaneiro[4]
dia6 = dadosjaneiro[5]
dia7 = dadosjaneiro[6]
dia8 = dadosjaneiro[7]
dia9 = dadosjaneiro[8]
dia10 = dadosjaneiro[9]
dia11 = dadosjaneiro[10]
dia12 = dadosjaneiro[11]

In [106]:
basejaneiro = pd.concat([dia1,dia2,dia3,dia4,dia5,dia6,dia7,dia8,dia9,dia10,
                         dia11,dia12])

# Modelando os dados coletados

In [108]:
# baseoutubro
# basenovembro
# basedezembro
# basejaneiro

In [114]:
baseoutubro.head()

,matchup,Unnamed: 1,resultado,winner high,loser high,Unnamed: 5,date
0,Brooklyn BKN,Milwaukee MIL,"MIL 127, BKN 104",Giannis Antetokounmpo 32 Pts,Kevin Durant 32 Pts,NaN,19-10-2021
1,Golden State GS,Los Angeles LAL,"GS 121, LAL 114",Stephen Curry 21 Pts,LeBron James 34 Pts,NaN,19-10-2021
0,Indiana IND,Charlotte CHA,"CHA 123, IND 122",LaMelo Ball 31 Pts,Domantas Sabonis 33 Pts,NaN,20-10-2021
1,Chicago CHI,Detroit DET,"CHI 94, DET 88",Zach LaVine 34 Pts,Jerami Grant 24 Pts,NaN,20-10-2021
2,Boston BOS,New York NY,"NY 138, BOS 134 (2TE)",Julius Randle 35 Pts,Jaylen Brown 46 Pts,NaN,20-10-2021

In [116]:
basenovembro.head()

,matchup,Unnamed: 1,resultado,winner high,loser high,Unnamed: 5,date,0,1,2,3,4,5
0,Cleveland CLE,Charlotte CHA,"CLE 113, CHA 110",Jarrett Allen 24 Pts,LaMelo Ball 30 Pts,NaN,01-11-2021,NaN,NaN,NaN,NaN,NaN,NaN
1,San Antonio SA,Indiana IND,"IND 131, SA 118",Domantas Sabonis 24 Pts,Dejounte Murray 16 Pts,NaN,01-11-2021,NaN,NaN,NaN,NaN,NaN,NaN
2,Portland POR,Philadelphia PHI,"PHI 113, POR 103",Seth Curry 23 Pts,Norman Powell 22 Pts,NaN,01-11-2021,NaN,NaN,NaN,NaN,NaN,NaN
3,Washington WSH,Atlanta ATL,"ATL 118, WSH 111",Trae Young 26 Pts,Bradley Beal 24 Pts,NaN,01-11-2021,NaN,NaN,NaN,NaN,NaN,NaN
4,Chicago CHI,Boston BOS,"CHI 128, BOS 114",DeMar DeRozan 37 Pts,Jaylen Brown 28 Pts,NaN,01-11-2021,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
basedezembro.head()

,matchup,Unnamed: 1,resultado,winner high,loser high,Unnamed: 5,date,0,1,2,3,4,5
0,Atlanta ATL,Indiana IND,"ATL 114, IND 111",Trae Young 33 Pts,Malcolm Brogdon 27 Pts,NaN,01-12-2021,NaN,NaN,NaN,NaN,NaN,NaN
1,Denver DEN,Orlando ORL,"ORL 108, DEN 103",Cole Anthony 24 Pts,Monte Morris 22 Pts,NaN,01-12-2021,NaN,NaN,NaN,NaN,NaN,NaN
2,Minnesota MIN,Washington WSH,"WSH 115, MIN 107",Montrezl Harrell 27 Pts,Karl-Anthony Towns 34 Pts,NaN,01-12-2021,NaN,NaN,NaN,NaN,NaN,NaN
3,Philadelphia PHI,Boston BOS,"BOS 88, PHI 87",Jayson Tatum 26 Pts,Seth Curry 17 Pts,NaN,01-12-2021,NaN,NaN,NaN,NaN,NaN,NaN
4,Cleveland CLE,Miami MIA,"CLE 111, MIA 85",Kevin Love 22 Pts,Tyler Herro 21 Pts,NaN,01-12-2021,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
basejaneiro.head()

,matchup,Unnamed: 1,resultado,winner high,loser high,Unnamed: 5,date
0,New Orleans NO,Milwaukee MIL,"MIL 136, NO 113",Giannis Antetokounmpo 35 Pts,Jaxson Hayes 23 Pts,NaN,01-01-2022
1,San Antonio SA,Detroit DET,"DET 117, SA 116 (TE)",Hamidou Diallo 34 Pts,Bryn Forbes 27 Pts,NaN,01-01-2022
2,Chicago CHI,Washington WSH,"CHI 120, WSH 119",Zach LaVine 35 Pts,Kyle Kuzma 29 Pts,NaN,01-01-2022
3,LA LAC,Brooklyn BKN,"LAC 120, BKN 116",Eric Bledsoe 27 Pts,James Harden 34 Pts,NaN,01-01-2022
4,Denver DEN,Houston HOU,"DEN 124, HOU 111",Nikola Jokic 24 Pts,Jalen Green 29 Pts,NaN,01-01-2022

In [135]:
todos = pd.concat([baseoutubro,basenovembro,basedezembro,basejaneiro])

In [137]:
todos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 620 entries, 0 to 8
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   matchup      618 non-null    object
 1   Unnamed: 1   618 non-null    object
 2   resultado    618 non-null    object
 3   winner high  607 non-null    object
 4   loser high   607 non-null    object
 5   Unnamed: 5   0 non-null      float64
 6   date         620 non-null    object
 7   0            2 non-null      object
 8   1            2 non-null      object
 9   2            2 non-null      object
 10  3            2 non-null      object
 11  4            2 non-null      object
 12  5            2 non-null      object
dtypes: float64(1), object(12)
memory usage: 67.8+ KB

In [140]:
df = todos[['date', 'matchup', 'Unnamed: 1', 'resultado']].copy()
df.columns = ['DATA', "VISITANTE", 'CASA', 'RESULTADO']
df

          DATA        VISITANTE             CASA              RESULTADO
0   19-10-2021     Brooklyn BKN    Milwaukee MIL       MIL 127, BKN 104
1   19-10-2021  Golden State GS  Los Angeles LAL        GS 121, LAL 114
0   20-10-2021      Indiana IND    Charlotte CHA       CHA 123, IND 122
1   20-10-2021      Chicago CHI      Detroit DET         CHI 94, DET 88
2   20-10-2021       Boston BOS      New York NY  NY 138, BOS 134 (2TE)
..         ...              ...              ...                    ...
4   12-01-2022       Dallas DAL      New York NY         NY 108, DAL 85
5   12-01-2022      Houston HOU   San Antonio SA        HOU 128, SA 124
6   12-01-2022    Cleveland CLE        Utah UTAH       CLE 111, UTAH 91
7   12-01-2022     Brooklyn BKN      Chicago CHI       BKN 138, CHI 112
8   12-01-2022  Los Angeles LAL   Sacramento SAC       SAC 125, LAL 116

[620 rows x 4 columns]

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 620 entries, 0 to 8
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATA       620 non-null    object
 1   VISITANTE  618 non-null    object
 2   CASA       618 non-null    object
 3   RESULTADO  618 non-null    object
dtypes: object(4)
memory usage: 24.2+ KB

In [142]:
#Salvando os dados
#df.to_excel("NBA2021-2022.xlsx", index=False)